@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Sessions";
    if (!Request.IsAuthenticated)
    {
        Response.Redirect("~/Account/Login?returnUrl="
            + Request.Url.LocalPath);
    }
}

    <h1 data-user-id=@User.Identity.GetUserId()>Tracking Page</h1>
    <div id="loading" class="text-center animated fadeIn" style="display:none;"><img src="~/Images/Loading/spiffygif_108x108.gif" /></div>
    <script>
        var user = document.getElementsByTagName("H1")[0].getAttribute("data-user-id");
        var counter = 0;
        var iterate = 1;
        var table;
        var list;
        var loading = $("#loading");

        $(document).ready(function () {
            //getSession();
            getSessions();
        });


        function getSessions() {
            $.ajax({
                type: "GET",
                url: "https://localhost:44301/TrackingService.svc/Session/" + user + "",
                cache: false,
                dataType: "json",
                beforeSend: function () {
                    loading.show();
                },
                success: function (data, status) {
                    loading.hide();
                    console.log(data);
                    // For every session
                    $.each(data, function (i, item) {
                        var div = document.createElement("div");
                        div.style.display = "none";
                        $(div).addClass("panel panel-default");

                        var panelHeader = document.createElement('div')
                        $(panelHeader).addClass("panel-heading");
                        //Header info goes here
                        panelHeader.innerHTML = '<h5><strong><a href="session/' + item.Id + '"> Session: ' + item.Id + '</a><strong></h5>';

                        div.appendChild(panelHeader);

                        // Create List
                        var timeline = document.createElement("ul");
                        $(timeline).addClass("timeline");
                        //Add headers

                        timeline.style.display = "none";
                        timeline.style.paddingBottom = "30px";

                        // For each state in states
                        $.each(item.states, function (i, item) {

                        })

                        div.appendChild(timeline);
                        document.getElementById("trackingInfo").appendChild(div);
                        $(div).fadeIn("slow");
                        $(timeline).fadeIn("slow");
                    });

                },
                error: function (jqXHR, status) {
                    var n = noty({
                        layout: 'topRight',
                        type: 'information',
                        text: '<strong>Warning!</strong> ' + message,
                        animation: {
                            open: 'animated bounceInDown', // Animate.css class names
                            close: 'animated bounceOutRight', // Animate.css class names
                            easing: 'swing', // unavailable - no need
                            speed: 500 // unavailable - no need
                        }
                    });
                },
                complete: function (status) {
                    //setTimeout(getLatestSessionStateTimeline, 10000);
                }
            });
        }

        //function getSession() {
        //    $.ajax({
        //        type: "GET",
        //        url: "https://localhost:44301/TrackingService.svc/Session/5c54731b-089a-4f14-81bd-18765a59ad21",
        //        cache: false,
        //        dataType: "json",
        //        success: function (data, status) {
        //            console.log(data);
        //            // For every session
        //            $.each(data, function (i, item) {
        //                var div = document.createElement("div");
        //                $('<h3></h3>').html(item.Id).appendTo(div).fadeIn("slow");
        //                $('<h3></h3>').html(item.UserId).appendTo(div).fadeIn("slow");
        //                $('<h3></h3>').html(item.time).appendTo(div).fadeIn("slow");

        //                // Create table
        //                table = document.createElement("table");
        //                $(table).addClass("table table-striped table-bordered table-hover");
        //                //Add headers
        //                $(table).html("<tr><th>ID</th><th>User ID</th><th># Alerts</th><th>Location</th><th>Temp</th><th>Time</th></tr>");


        //                table.style.display = "none";
        //                table.style.paddingBottom = "30px";
        //                // For each state in states
        //                $.each(item.states, function (i, item) {
        //                    counter = item.TrackingId;
        //                    // create row
        //                    var row = document.createElement('tr');

        //                    var id = document.createElement('td');
        //                    id.innerHTML = item.TrackingId;
        //                    row.appendChild(id);

        //                    var userId = document.createElement('td');
        //                    userId.innerHTML = item.UserId;
        //                    row.appendChild(userId);

        //                    var noAlerts = document.createElement('td');
        //                    noAlerts.innerHTML = item.noAlerts;
        //                    row.appendChild(noAlerts);

        //                    var place = document.createElement('td');
        //                    place.innerHTML = item.place;
        //                    row.appendChild(place);

        //                    var temp = document.createElement('td');
        //                    temp.innerHTML = item.temp;
        //                    row.appendChild(temp);

        //                    var time = document.createElement('td');
        //                    time.innerHTML = item.time;
        //                    row.appendChild(time);


        //                    table.appendChild(row);
        //                })

        //                div.appendChild(table);
        //                document.getElementById("conatiner").appendChild(div);

        //                $(table).fadeIn("slow");
        //            });

        //        },

        //        error: function (jqXHR, status) {
        //            alert(status);
        //        },
        //        complete: function () {
        //            setTimeout(getLatestSessionState(), 2000);
        //            //console.log("Complete: " + counter);
        //            //alert("Complete " + counter);
        //        }
        //    });
        //}

        //function getLatestSessionState() {
        //    $.ajax({
        //        type: "GET",
        //        url: "https://localhost:44301/TrackingService.svc/Session/Latest/5c54731b-089a-4f14-81bd-18765a59ad21",
        //        cache: false,
        //        dataType: "json",
        //        success: function (data, status) {
        //            console.log(data);
        //            console.log(data.TrackingId);
        //            // For every session

        //            //For each state in states
        //            if (counter == data.TrackingId) {
        //                console.log("the same TrackingID!");
        //            } else {
        //                counter = data.TrackingId;
        //                console.log("Not the same")
        //                // create row
        //                var row = document.createElement('tr');
        //                row.style.display = "none";
        //                var id = document.createElement('td');
        //                id.innerHTML = data.TrackingId;
        //                row.appendChild(id);

        //                var userId = document.createElement('td');
        //                userId.innerHTML = data.UserId;
        //                row.appendChild(userId);

        //                var noAlerts = document.createElement('td');
        //                noAlerts.innerHTML = data.noAlerts;
        //                row.appendChild(noAlerts);

        //                var place = document.createElement('td');
        //                place.innerHTML = data.place;

        //                row.appendChild(place);

        //                var temp = document.createElement('td');
        //                temp.innerHTML = data.temp;
        //                row.appendChild(temp);

        //                var time = document.createElement('td');
        //                time.innerHTML = data.time;
        //                row.appendChild(time);


        //                table.appendChild(row);
        //                $(row).fadeIn("slow");

        //            }
        //        },

        //        error: function (jqXHR, status) {
        //            //alert(status);
        //        },
        //        complete: function () {
        //            setTimeout(getLatestSessionState(), 2000);
        //        }
        //    });
        //}

        //function getSessionTimeline() {
        //    $.ajax({
        //        type: "GET",
        //        url: "https://localhost:44301/TrackingService.svc/Session/" + user + "",
        //        cache: false,
        //        dataType: "json",
        //        success: function (data, status) {
        //            console.log(data);
        //            // For every session
        //            $.each(data, function (i, item) {
        //                var div = document.createElement("div");
        //                div.style.display = "none";
        //                $(div).addClass("panel panel-default");

        //                var panelHeader = document.createElement('div')
        //                $(panelHeader).addClass("panel-heading");
        //                //Header info goes here
        //                panelHeader.innerHTML = '<h5><strong><a href="session/' + item.Id + '"> Session: ' + item.Id + '</a><strong></h5>';

        //                div.appendChild(panelHeader);

        //                // Create List
        //                timeline = document.createElement("ul");
        //                $(timeline).addClass("timeline");
        //                //Add headers

        //                timeline.style.display = "none";
        //                timeline.style.paddingBottom = "30px";

        //                // For each state in states
        //                $.each(item.states, function (i, item) {

        //                    var inverse;
        //                    if (iterate == 1) {
        //                        inverse = "timeline-inverted";
        //                        iterate = 0;
        //                    } else {
        //                        inverse = "";
        //                        iterate = 1;
        //                    }

        //                    counter = item.TrackingId;
        //                    // create list element
        //                    var listItem = document.createElement('li');
        //                    $(listItem).addClass(inverse);

        //                    //Create badge
        //                    var badge = document.createElement('div');
        //                    $(badge).addClass("timeline-badge");

        //                    //Create ICON
        //                    var icon = document.createElement('i');
        //                    $(icon).addClass("glyphicon glyphicon-check");
        //                    //Add icon to badge div
        //                    badge.appendChild(icon);

        //                    //Add badge to li
        //                    listItem.appendChild(badge);

        //                    //Create timeline panel
        //                    var panel = document.createElement('div');
        //                    $(panel).addClass("timeline-panel");

        //                    //Heading here
        //                    var heading = document.createElement('div');
        //                    $(heading).addClass("timeline-heading");
        //                    var headingMain = document.createElement('h4');
        //                    headingMain.innerHTML = item.temp + "°C";
        //                    heading.appendChild(headingMain);

        //                    var timeText = document.createElement('p');
        //                    timeText.innerHTML = '<small class="text-muted"><i class="glyphicon glyphicon-time"></i> ' + item.time + ' via client' + '</small>';
        //                    heading.appendChild(timeText);


        //                    // Panel body
        //                    var body = document.createElement('div');
        //                    $(body).addClass("timeline-body");
        //                    body.innerHTML = "Motion Warning!";

        //                    panel.appendChild(heading);
        //                    panel.appendChild(body);
        //                    listItem.appendChild(panel);

        //                    timeline.appendChild(listItem);
        //                })

        //                div.appendChild(timeline);
        //                document.getElementById("trackingInfo").appendChild(div);
        //                $(div).fadeIn("slow");
        //                $(timeline).fadeIn("slow");
        //            });

        //        },
        //        error: function (jqXHR, status) {
        //            //alert(status);
        //        },
        //        complete: function (status) {
        //            setTimeout(getLatestSessionStateTimeline, 10000);
        //        }
        //    });
        //}

        //function getLatestSessionStateTimeline() {
        //    $.ajax({
        //        type: "GET",
        //        url: "https://localhost:44301/TrackingService.svc/Session/Latest/" + user + "",
        //        cache: false,
        //        dataType: "json",
        //        success: function (data, status) {
        //            console.log(data);
        //            console.log(data.TrackingId);
        //            // For every session

        //            //For each state in states
        //            if (counter == data.TrackingId) {
        //                console.log("the same TrackingID!");
        //            } else {


        //                var inverse;
        //                if (iterate == 1) {
        //                    inverse = "timeline-inverted";
        //                    iterate = 0;
        //                } else {
        //                    inverse = "";
        //                    iterate = 1;
        //                }

        //                counter = data.TrackingId;
        //                // create list element
        //                var listItem = document.createElement('li');
        //                listItem.style.display = "none";
        //                $(listItem).addClass(inverse);

        //                //Create badge
        //                var badge = document.createElement('div');
        //                $(badge).addClass("timeline-badge");

        //                //Create ICON
        //                var icon = document.createElement('i');
        //                $(icon).addClass("glyphicon glyphicon-check");
        //                //Add icon to badge div
        //                badge.appendChild(icon);

        //                //Add badge to li
        //                listItem.appendChild(badge);

        //                //Create timeline panel
        //                var panel = document.createElement('div');
        //                $(panel).addClass("timeline-panel");

        //                //Heading here
        //                var heading = document.createElement('div');
        //                $(heading).addClass("timeline-heading");
        //                var headingMain = document.createElement('h4');
        //                headingMain.innerHTML = data.temp;
        //                heading.appendChild(headingMain);

        //                var timeText = document.createElement('p');
        //                timeText.innerHTML = '<small class="text-muted"><i class="glyphicon glyphicon-time"></i> ' + data.time + ' via client' + '</small>';
        //                heading.appendChild(timeText);


        //                // Panel body
        //                var body = document.createElement('div');
        //                $(body).addClass("timeline-body");
        //                body.innerHTML = "TEST";

        //                panel.appendChild(heading);
        //                panel.appendChild(body);
        //                listItem.appendChild(panel);

        //                $(listItem).fadeIn("slow");
        //                timeline.appendChild(listItem);

        //                $('html,body').animate({
        //                    scrollTop: $(listItem).offset().top
        //                },
        //                'slow');
        //            }
        //        },
        //        error: function (jqXHR, status) {
        //            //alert(status);
        //        },
        //        complete: function (status) {
        //            setTimeout(getLatestSessionStateTimeline, 10000);
        //        }
        //    });
        //}

    </script>

    <div id="trackingInfo">

    </div>

    @*@Html.Partial("_GetSessions")*@
