@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title.</h2>



<address>

    <b> Address:</b>
    Institute of Technology Tallaght Dublin 24<br />
    <b>P:</b>
    0858441021
</address>



<address>
    <strong>Support:</strong> <a href="mailto:kdoolan90@gmail.com">kdoolan90@gmail.com</a><br />
    <strong>Support:</strong> <a href="mailto:grahamh220@gmail.com">grahamh220@gmail.com</a>
</address>