@{
    ViewBag.Title = "About";
}


<div style="margin-top: 60px" class="row text-center">
    <div class="col-md-9 marginPanel panelBorder">
        <div class="row panelPadding" style="background-color: #51ab51 !important;">
            <h2 class="whiteText"><span class ="glyphicons-circle-info"></span></> About
            </h2>
        </div>
    </div>
</div>

<div style="width: 870px; margin: 40px; font-size: 20px">
    <p>
        This Web application was developed to provide Assistance for parents/guardians when taking care of infants.
    </p>
    <p>
        Not only will this application provide assistance but it will also give parents/guardians an understanding of the infants sleeping patterns and health status.
    </p>
    <p>
        If an infant becomes too hot or the child is making erratic movements an event will be triggered notifying the specified recipient that an event has occurred via email and/or SMS notification.
    </p>
    
   
    
</div>

<span class="glyphicons glyphicons-circle-info"></span>