@{
    ViewBag.Title = "About";
}

<div class="animated fadeIn">
    <h2>@ViewBag.Title.</h2>
    <p>
        This Web application was developed to provide Assistance for parents/guardians when taking care of infants. 
        Not only will this application provide assistance but it will also give parents/guardians an understanding of the infants sleeping patterns and health status.
        If an infant becomes too hot or the child is making erratic movements an event will be triggered notifying the specified recipient that an event has occurred via email and/or SMS notification.
    </p>
</div>