@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        She said I'm off titty milk for good 
    </h1>
    <img src="http://www.beat102103.com/beat-breakfast-blog/wp-content/uploads/2011/06/baby-cry1-e1308745684520.jpg" alt="Upset Baby">
</div>

