
<div style="height:350px;" class="jumbotron animated fadeIn">
    <h1>Baby Guard</h1>
    <p class="lead">BabyGuard keeps your baby safe and gives you peace of mind</p>

</div>

<div class="row animated fadeInLeft">
    <div class="col-md-4">
        <h2>Detects Movement</h2>
        <p>
            BabyGuard keeps a close eye on your childs movement. Any erratic movement won't go undetected.
        </p>
        <p>
            How about we let you know when somethings up? With BabyGuard We'll notify you if something is wrong with our sppedy and responsive email and our mobile messaging service, just in case you haven't got wifi access.
        </p>
            

     </div>
    <div class="col-md-4">
        <h2>Tracks Temperature</h2>
        <p>"It's quite hot in here, I need to take off my jacket." Your baby can't tell you if he or she is too hot, nope, but we can!
            When your baby is getting too hot our temperature sensor will pick this up so you don't have to.
            <p>
                Just put your feet up, We'll take it from here. When we get too hot under the collar, yep you guessed it, we'll let you know!
            </p>
      
       
    </div>
    <div class="col-md-4">
        <h2>In The Cloud</h2>
        <p>BabyGuard has everything under control. All events are saved onto our secure databse for you to access through our Serivce. It's really just a few clicks away! </p>
    </div>
</div>

